:root {
    /* Colors */
    --color-primary: #3834DA;
    --color-secondary: #D2DAFF;
    --color-text: #121212;
    --color-text-light: #0000004D;
    --color-white: #F6F6F6;
    --color-black: #121212;
    --color-grey: #DADBDB;
    --color-light-grey: #EDEDED;
    --color-purple: #BCA3FF;
    --color-light-purple: #E6DDFF;
    --color-orange: #FFA136;
    --color-light-orange: #FFE4C4;
    --color-yellow: #FDCF01;
    --color-light-yellow: #FFF5C6;
    --color-green: #CEFF13;
    --color-light-green: #ECFFA4;
    --color-light-blue: #D2DAFF;
<<<<<<< HEAD
    --color-error: #A31111;
=======
    --color-red: #A31111;
>>>>>>> e85c2410beea5a0e26ef1d7c0028546daaa86aa0

    /* Typography */
    --font-family-base: -apple-system, 'Geologica', sans-serif;
    --font-family-heading: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    --font-size-xs: 1rem;   /* 16px */
    --font-size-sm: 1.125rem;  /* 18px */
    --font-size-base: 1.25rem;    /* 20px */
    --font-size-lg: 1.875rem;  /* 30px */
    --font-size-xl: 3.125rem;   /* 50px */
    --font-size-2xl: 4.063rem;   /* 65px */

    /* Spacing */
    --spacing-xs: 0.25rem;  /* 4px */
    --spacing-sm: 0.5rem;   /* 8px */
    --spacing-md: 1rem;     /* 16px */
    --spacing-lg: 1.5rem;   /* 24px */
    --spacing-xl: 2rem;     /* 32px */
    --spacing-2xl: 3rem;    /* 48px */

    /* Border radius */
    --border-radius-sm: 0.5rem;  /* 8px */
    --border-radius-md: 0.938rem;   /* 15px */
    --border-button: 1.25rem;            /* 20px */
    --border-radius-lg: 2.5rem;     /* 40px */

    /* Shadows */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-fast: 150ms ease;
    --transition-normal: 300ms ease;
    --transition-slow: 500ms ease;

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

.text-color-red {
    color: var(--color-red);
}

@media (max-width: 769px){
   :root{
       --font-size-xs: 0.875rem;   /* 14px */
       --font-size-sm: 1rem;  /* 16px */
       --font-size-base: 1.125rem;    /* 18px */
       --font-size-lg: 1.563rem;  /* 25px */
       --font-size-xl: 1.75rem;   /* 28px */
       --font-size-2xl: 2.125rem;   /* 34px */
   }
}