.success-page{
    background-color: var(--color-light-grey);
    border-radius: var(--border-button);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    justify-content: center;
    .text-container{
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
    }
    .title{
        font-size: var(--font-size-base);
        font-weight: 600;
    }
    .buttons-container{
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .buttons-container a.buttonLight,
    .buttons-container a.buttonDark{
        text-decoration: none;
        box-sizing: border-box;
    }
    .order-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 480px;
    }
    .text-accent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: var(--font-size-base);
    }
    .buttonLight{
        width: 338px;
    }
    .buttonLight:hover{
        background-color: var(--color-light-blue);
        color: var(--color-primary);
    }
    .buttonDark{
        width: 338px;
    }
    .text-container a{
        text-decoration: underline;
    }
    .text-container a:hover{
        color: var(--color-primary);
    }
}

@media (max-width: 768px) {
    .success-page{
        height: 80vh;
        justify-content: space-around;
        .buttons-container{
            flex-direction: column;
        }
        .title{
            text-align: center;
            max-width: 80%;
        }
        .text{
            text-align: center;
            max-width: 60%;
        }
    }
}