.dropdown-filter{
    label {
        display: block;
        color: #34495e;
    }

    .code-block {
        background: #2c3e50;
        padding: 10px;
        border-radius: 10px;
        border: var(--color-black) solid 1px;
        overflow-x: auto;
        font-family: 'Courier New', monospace;
    }

    .choices__inner {
        display: flex;
        align-items: center;
        vertical-align: top;
        width: 260px !important;
        background-color: var(--color-white) !important;
        border: 2px solid var(--color-black) !important;
        padding: 10px 40px !important;
        border-radius: 10px !important;
        font-size: 16px !important;
        min-height: 40px !important;
        overflow: hidden !important;
        color: var(--color-black) !important;
    }

    .choices__placeholder{
        opacity: 1!important;
    }

    .choices__list--single {
        display: flex !important;
        text-align: left !important;
        padding: 0 !important;
        width: auto !important;
        text-wrap: nowrap!important;
    }

    .choices[data-type*=select-one]::before {
        content: '' !important; /* Важно: пустая строка */
        background-image: url("../../../images/icons/dropdown.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        height: 20px !important;
        width: 20px !important;
        border: none !important; /* Убираем стандартные границы */
        position: absolute !important;
        left: 10px !important;
        top: 50% !important;
        margin-top: 0px !important; /* Половина высоты иконки */
        pointer-events: none !important;
        transform: translateY(-50%) !important; /* Центрирование по вертикали */
    }

    .choices[data-type*=select-one]::after {
        content: '' !important; /* Важно: пустая строка */
        background-image: url("../../../images/icons/dropdown_arrow.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        height: 10px !important;
        width: 10px !important;
        border: none !important; /* Убираем стандартные границы */
        position: absolute !important;
        right: 10px !important;
        top: 50% !important;
        margin-top: 0px !important; /* Половина высоты иконки */
        pointer-events: none !important;
        transform: translateY(-50%) !important; /* Центрирование по вертикали */
    }

    .choices[data-type*=select-one].is-open::after {
        transform: translateY(-50%) rotate(180deg) !important;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
        display: none;
        z-index: 3;
        position: absolute;
        width: 100%;
        background-color: var(--color-light-grey) !important;
        border: none !important;
        top: 100%;
        margin-top: 10px !important;
        border-radius: 10px !important;
        overflow: hidden;
        word-break: break-all;
    }

    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        border-bottom: 1px solid #1212124D !important;
    }

    /* Убираем границу у последнего элемента */
    .choices__list--dropdown .choices__item:last-child,
    .choices__list[aria-expanded] .choices__item:last-child {
        border-bottom: none !important;
    }

    /* Голубой фон ТОЛЬКО при ховере */
    .choices__list--dropdown .choices__item:hover,
    .choices__list[aria-expanded] .choices__item:hover {
        background-color: var(--color-light-blue) !important;
    }
}

.dropdown-filter-edit{
    display: block;
    label {
        display: block;
        color: #34495e;
    }

    .code-block {
        background: #2c3e50;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #1212124D; !important
        overflow-x: auto;
        font-family: 'Courier New', monospace;
    }



    .choices__inner {
        display: flex;
        align-items: center;
        vertical-align: top;
        width: 100% !important;
        background-color: var(--color-white) !important;
        border: 1px solid #1212124D !important;
        padding: 22px 20px !important;
        border-radius: var(--border-button) !important;
        font-size: 16px !important;
        min-height: 40px !important;
        overflow: hidden !important;
        color: var(--color-black) !important;
    }

    .choices__placeholder{
        opacity: 1!important;
    }

    .choices__list--single {
        display: flex !important;
        text-align: left !important;
        padding: 0 !important;
        width: 95% !important;
        text-wrap: nowrap!important;
    }

    .choices__list--single .undefined{
        width: 100%;
    }

    .choices[data-type*=select-one]::before {
        content: '' !important; /* Важно: пустая строка */
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        height: 20px !important;
        width: 20px !important;
        border: none !important; /* Убираем стандартные границы */
        position: absolute !important;
        left: 10px !important;
        top: 50% !important;
        margin-top: 0px !important; /* Половина высоты иконки */
        pointer-events: none !important;
        transform: translateY(-50%) !important; /* Центрирование по вертикали */
    }

    .choices[data-type*=select-one]::after {
        content: '' !important;
        background-image: url("../../../images/icons/dropdown-new.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        height: 14px !important;
        width: 7px !important;
        border: none !important; /* Убираем стандартные границы */
        position: absolute !important;
        right: 20px !important;
        top: 50% !important;
        margin-top: 0px !important; /* Половина высоты иконки */
        pointer-events: none !important;
        transform: translateY(-40%) !important; /* Центрирование по вертикали */
    }

    .choices[data-type*=select-one].is-open::after {
        transform: translateY(-40%) rotate(90deg) !important;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
        display: none;
        z-index: 3;
        position: absolute;
        width: 100%;
        background-color: var(--color-light-grey) !important;
        border: none !important;
        top: 100%;
        margin-top: 2px !important;
        border-radius: 10px !important;
        overflow: hidden;
        word-break: break-all;
    }

    .choices__list--dropdown .choices__item--disabled,
    .choices__list[aria-expanded] .choices__item--disabled {
        display: none !important;
    }

    .choices[data-type*=select-one] .choices__input{
        width: 100%;
        padding: 13px 20px 13px 40px;
        border: 1px solid #1212124D;
        border-radius: var(--border-button);
        font-size: var(--font-size-xs);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg opacity='0.6'%3E%3Cpath d='M19.4485 16.7861C20.1838 17.5214 20.1838 18.7132 19.4485 19.4485C18.7132 20.1838 17.5214 20.1838 16.7861 19.4485L15.0002 17.6626C16.0396 16.9426 16.9426 16.0396 17.6626 15.0002L19.4485 16.7861Z' fill='%23121212'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75013 0C13.5827 1.61066e-07 17.5003 3.91757 17.5003 8.75013C17.5003 13.5827 13.5827 17.5003 8.75013 17.5003C3.91757 17.5003 1.61072e-07 13.5827 0 8.75013C0 3.91757 3.91757 0 8.75013 0ZM8.75013 1.41848C4.70123 1.41848 1.41848 4.70123 1.41848 8.75013C1.41848 12.799 4.70123 16.0818 8.75013 16.0818C12.799 16.0818 16.0818 12.799 16.0818 8.75013C16.0818 4.70123 12.799 1.41848 8.75013 1.41848Z' fill='%23121212'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 20px;
        outline: none;
    }

    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        border-bottom: 1px solid #1212124D;
    }

    .choices__list--dropdown .choices__item-custom{
        padding: 13px 16px;
        border-bottom: 0.5px solid #1212124D;
    }

    .choices__list--dropdown .choices__item:not(:last-child) {
        border-bottom: 1px solid #1212124D !important;
    }

    .choices__list--dropdown .choices__list > div:last-child .choices__item-custom,
    .choices__list[aria-expanded] .choices__list > div:last-child .choices__item-custom {
        border-bottom: none !important;
    }

    .choices__item-custom {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0;
    }

    .choices__item-custom img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .choices__item-custom .item-title {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--font-size-xs);
        font-weight: 400;
        line-height: 1.1;
    }

    .choices__item-custom .item-price {
        font-weight: 400;
        color: #333;
        margin-left: auto;
        padding-left: 10px;
    }

}

.choices__list--dropdown .choices__item--disabled {
    display: none;
}
.dropdown-set {
    position: relative;
    display: inline-block;
    .dropdown-trigger {
        cursor: pointer;
        padding: 8px;
        display: inline-flex;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--color-light-grey);
        border-radius: var(--border-radius-sm);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        min-width: 240px;
        display: none;
        z-index: 10;
    }

    .dropdown-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 13px 16px;
        text-decoration: none;
    }

    .dropdown-menu a:hover {
        background-color: #f5f5f5;
    }
}

.dropdown-set.active .dropdown-menu {
    display: block;
}

.diagram-dropdown-container{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 20px;
    .choices{
        margin-bottom: 0px!important;
    }
    .choices__list--single{
        padding: 0;
    }
    .choices__inner{
        font-size: var(--font-size-xs);
        border: none;
        background-color: var(--color-light-grey);
        border-radius: 20px;
    }
    .choices[data-type*=select-one] .choices__inner{
        padding: 17px 55px 17px 20px;
        color: var(--color-black) !important;
    }
    .choices[data-type*=select-one]::after{
        content: url("../../../../assets/images/icons/arrow_dropdown.svg");
        border-style: solid;
        border-color: unset;
        border-width: 0;
        position: absolute;
        right: 35px;
        top: 40%;
    }
    .choices[data-type*=select-one].is-open::after{
        margin-top: -2.5px!important;
    }
    .choices__placeholder{
        color: var(--color-black) !important;
        opacity: 1;
    }
    .is-open .choices__inner{
        border-radius: var(--border-button);
    }
    .choices__list--dropdown, .choices__list[aria-expanded]{
        border: none;
        background-color: var(--color-light-grey);
        border-radius: var(--border-button);
        padding: 10px 10px 0;
        margin-top: -15px;
    }
}



@media (max-width: 768px){
    .choices__item-custom .item-title{
        width: 180px;
    }
}

.choices.is-open .choices__list--dropdown [data-id="1"]{
    display: none!important;
}
