.registration-container{
    display: flex;
    flex-direction: column;
    gap:60px;
    .registration-main{
        display: flex;
        flex-direction: column;
        gap:50px;
        padding: 40px;
        background-color: var(--color-light-grey);
        border-radius: var(--border-button);
    }
    .registration-list{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .field-group{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: var(--color-white);
        border-radius: var(--border-button);
        label{
            position: absolute;
            left:20px;
            top:20px;
        }
        .input-container{
            display: flex;
            flex-direction: column;
            gap:0;
            width: 100%;
        }
        .buttons-container{
            display: flex;
            flex-direction: column;
            gap:30px;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            .change{
                position: relative;
                right: 0;
                top:0;
                display: flex;
                align-items: center;
            }
        }
        .buttons-container-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            justify-content: center;
        }
        input{
            width: 100%;
            border: none;
            border-radius: var(--border-radius-md);
            padding: 20px 20px 20px 150px;
            background-color: var(--color-white) !important;
            opacity: 100%;
        }
        .photo-preview{
            position: absolute;
            left: 150px;
            top:5px;
        }
        .photoImage{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            img{
                height: 50px;
                width: 50px;
            }
        }
    }
    .registration-info{
        border-radius: var(--border-radius-md);
        padding: 20px;
        background-color: var(--color-white) !important;
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: end;
    }
    .registration-info-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .registration-info-text{
        opacity: 60%;
    }
    .copy, .change{
        position: absolute;
        right: 20px;
        top:20px;
        cursor: pointer;
    }
    .registration-settings{
        display: flex;
        flex-direction: column;
        gap:40px;
    }
    .registration-settings-container{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .settings-item{
        border-radius: var(--border-radius-md);
        padding: 20px;
        background-color: var(--color-light-grey);
        display: flex;
        flex-direction: row;
        gap:40px;
        width: 100%;
        .buttonDark{
            max-width: 217px;
        }
    }
    .setting-title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .setting-title{
        font-size: var(--font-size-base);
        font-weight: 600;
        width: 100%;
        text-wrap: nowrap;
    }
    .setting-text{
        opacity: 60%;
        width: 100%;
        text-align: end;
    }
}

.drop-zone {
    border: 1px solid #1212124D;
    border-radius: var(--border-button);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-zone-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    justify-content: center;
}

.drop-zone.dragover {
    border-color: var(--color-primary);
}

.preview-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .registration-container{
        padding-top: 80px;
        position: relative;
        .settings-item{
            flex-direction: column;
            gap:20px;
        }
        .setting-title-container{
            flex-direction: column;
            gap:10px;
        }
        .setting-text{
            text-align: start;
        }
        .field-group input{
            padding: 40px 20px 20px;
        }
        .registration-main{
            padding: 15px;
        }
        .setting-title{
            text-wrap: wrap;
        }
        .buttonDark{
            max-width: 100% !important;
        }
        .registration-settings{
            display: flex;
            flex-direction: column;
            gap:40px;
        }
        .registration-main{
            .title{
                position: absolute;
                top:0;
            }
        }
    }
}