.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    .title {
        font-size: var(--font-size-base);
    }
    .modal-content {
        background-color: var(--color-white);
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        padding: 40px 30px;
        border-radius: var(--border-button);
        width: 100%;
        max-width: 45.833vw;
        position: relative;
        gap:30px;
        display: flex;
        flex-direction: column;
        .review-title{
            flex-direction: column;
            gap:10px;
        }
    }
    .max-content-width{
        max-width: max-content;
    }

    .modal-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-radius: var(--border-button);
    }

    .modal-content-text {
        position: relative;
        z-index: 2;
    }

    .close {
        position: absolute;
        right: 30px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .close:hover svg path{
        fill: var(--color-primary);
    }

    .modal-breadcrumb {
        opacity: 60%;
        padding-bottom: 14px;
    }

    .text {
        opacity: 80%;
    }

    .timer {
        padding-bottom: 30px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .modal-content {
        animation: fadeIn 0.3s ease;
    }

    .modal-title{
        font-size: var(--font-size-sm);
        text-transform: uppercase;
        font-weight: 600;
        max-width: 95%;
    }
    @media(max-width: 768px){
        .modal-content{
            padding: 20px;
        }
        .title {
            padding-bottom: 15px;
        }
    }
    input,
    textarea{
        border: 1px solid #1212124D;
        border-radius: 15px;
        padding: 18px 20px;
        font-size: 14px;
        width: 100%;
        background-color: var(--color-white);
    }
    .input-text{
        opacity: 0.8;
        font-size: var(--font-size-xs);
        max-width: 80%;
    }
    .input-accent{
        text-decoration: underline;
        font-size: var(--font-size-sm);
    }
    .resend-link{
        cursor: pointer;
        text-decoration: underline;
        font-size: var(--font-size-sm);
        color: var(--color-black);
    }
    .success-message{
        opacity: 0.8;
        font-size: var(--font-size-xs);
        max-width: 100%;
    }
    .error{
        color: var(--color-error);
    }
    .input-error{
        border: 1px solid var(--color-error) !important;
        background: #F6E7E7;
    }
    .error-message{
        color: var(--color-error)!important;
        padding-bottom: 10px;
        font-weight: 400;
    }
    .checkbox-modal{
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .checkbox-container .checkbox input{
        appearance: none;
        width: 20px;
        height: 20px;
        max-height: 20px;
        min-width: 20px;
        border: 2px solid var(--color-black);
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        padding: 0;
    }
    .input-review{
        width: 100%;
    }
    .input-photo{
        border: 1px solid #1212124D;
        border-radius: 15px;
        padding: 18px 20px;
        font-size: 14px;
        width: 100%;
        background-color: var(--color-white);
        display: flex;
        flex-direction: row;
        gap:20px;
        align-items: center;
        justify-content: center;

    }
    form{
        gap: 30px;
    }
    .invite-modal{
        display: flex;
        flex-direction: column;
        gap:20px;
        button{
            text-decoration: underline;
            background: none;
        }
        button:hover{
            color: var(--color-primary);
        }
        .qr{
            height: 300px;
            width: 300px;
        }
        .title{
            padding-bottom: 0;
        }
    }
    .qr{
        max-width: max-content;
    }
    .qr img{
        height: 300px;
        width: 300px;
        object-fit: contain;
    }
    .modal-title{
    }
    .success-modal{
        .input-text{
            padding-bottom: 10px;
        }
    }
}


.modal.show {
    display: flex !important;
}

.modal#hitsModal{
    .title{
        font-size: var(--font-size-xl);
    }
    .text{
        max-width: 50%;
        white-space: pre-line;
    }
}

.settings-modal{
    .checkbox-item{
        display: flex;
        flex-direction: row;
        gap:10px;
    }
}

.message-modal{
    width: 45.833vw!important;
    max-width: 100% !important;
    max-height: 80vh;
    overflow-y: scroll;
    .message-list{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .message-header{
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-between;
    }
    .remove{
        text-decoration: underline;
    }
    .remove:hover{
        color: var(--color-primary);
    }
    .show-message{
        background: none;
        text-decoration: underline;
    }
    .show-message:hover{
        color: var(--color-primary);
    }

    .message-text {
        display: none;
    }

    .message-text.show {
        display: block;
    }

    .message-container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:40px;
        background-color: var(--color-light-grey);
        border-radius: var(--border-button);
        position: relative;
    }
    .message-container.active{
        background-color: var(--color-light-blue);
    }
    .message-text{
        background-color: var(--color-white);
        padding: 20px 30px;
        border-radius: var(--border-button);
    }
    .message-main{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .message-main-title{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .buttons-container{
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: end;
    }
}


.change-modal{
display: flex;
flex-direction: column;
gap:20px;
max-width: 95% !important;
.list{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap:20px;
}
@media(max-width: 768px){
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:20px;
}
}
}

.review{
background-color: var(--color-light-grey) !important;
border-radius: var(--border-button);
padding: 32px 30px;
height: auto;
display: flex!important;
flex-direction: column!important;
    .review-title{
font-size: var(--font-size-base);
display: flex;
flex-direction: row;
justify-content: space-between;
}
.stars{
display: flex;
flex-direction: row;
gap:7px;
}
.review-text-container{
display: flex;
flex-direction: column;
gap:30px;
}
.review-text {
height: 170px;
overflow: auto;
}
.data{
opacity: 60%;
}
}

.form-review-modal{
.title{
font-size: var(--font-size-base);
}
.input-review{
width: 100%;
}
.review-title{
padding-bottom: 30px;
}
.text{
}
.input-container{
flex-direction: row;
gap:10px;
}
    .input-container input,
    .input-container textarea{
border: 1px solid #1212124D!important;
border-radius: var(--border-button) !important;
padding: 22px 20px;
}
.input-containers{
display: flex;
flex-direction: column;
gap:10px;
}
    .input-container-review input,
    .input-container-review textarea{
height: 140px;
}

@media (max-width: 768px) {
.input-container{
    flex-direction: column;
}
}
}

.stars-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:7px;
    background-color: var(--color-light-grey);
    border-bottom: var(--border-button);
    align-items: center;
    justify-content: center;
    .button-stars:hover svg path{
        fill: #FFA136;
        stroke: #FFA136;
    }
    .button-stars.active svg path {
        fill: #FFA136;
        stroke: #FFA136;
    }
}

.map-modal{
    .checkbox-container{
        flex-direction: row;
        justify-content: space-between;
    }
    iframe{
        max-height: 50vh;
    }
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    .search-wrapper {
        position: relative;
        width: 100%;
    }

    .search-input {
        width: 100%;
        padding: 20px 20px 20px 50px;
        font-size: 16px;
        border: 1px solid #1212124D;
        border-radius: var(--border-button);
        outline: none;
        background: white;
    }


    .search-button {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        transition: color 0.3s ease;
    }
}

.map-point-modal{
    .text-list-container{
        display: flex;
        flex-direction: column;
        gap:20px;
        font-size: var(--font-size-xs);
        padding-bottom: 40px;
    }
    .text-list-title{
        opacity: 60%;
    }
    .list-info{
        display: flex;
        flex-direction: column;
        gap:5px;
    }
    .list-item{
        background-color: var(--color-light-grey);
        border-radius: var(--border-button);
        display: flex;
        flex-direction: row;
        gap:20px;
        padding: 20px 10px;
    }
    .list-item-text-accent{
        font-size: 0.875rem;
    }
    .list-item-text{
        width: 100%;
    }
    .buttonDark{
        max-height: 50px;
        max-width: 177px;
    }
}

.remittance-modal{
    .text-accent{
        padding-bottom: 10px;
    }
    .text-accent span{
        font-weight: 600;
    }
}

.modal-invite{
    .fieldset{
        padding-bottom: 40px;
    }
    .radio-container{
        flex-direction: column;
        gap: 22px;
    }
    input{
        padding: 0!important;
        width: 18px!important;
    }
}

@media (max-width: 768px) {
   .modal{
       .close {
           position: absolute;
           right: 20px;
           width: 20px;
           height: 20px;
           cursor: pointer;
           z-index: 2;
       }
       .modal-content{
           max-width: 95%;
       }
   }
    .message-modal{
       width: 80vw!important;
    }
    #changeModal{
        overflow: scroll;
        align-items: start;
    }
}