.tool-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 100%;
    .tools{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tab-labels{
        margin-bottom: 40px;
    }
    .tab-label{
        max-width: 200px;
    }
    .buttonDark{
        max-width: 200px;
        gap:10px;
        position: absolute;
        right: 0;
        border: none;
        font: inherit;
        .plus{
            height: 18px;
            width: 18px;
            background-color: var(--color-white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .sets-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        .set{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap:40px;
            background-color: var(--color-light-grey);
            border-radius: 20px;
            justify-content: space-between;
        }
        .set-list{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .set-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .set-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .set-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        .set-title-container{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .set-title{
            font-size: var(--font-size-sm);
            font-weight: 600;
        }
        .set-text{
            opacity: 60%;
        }
    }
    .set-status{
        font-size: var(--font-size-sm);
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
        line-height: 1;
        display: flex;
        align-items: center;
        max-height: 44px;
    }
    .set-status.active{
        background-color: var(--color-green);
    }
    .set-status.archive{
        background-color: var(--color-grey);
    }
    .set-footer-container{
        display: flex;
        flex-direction: row;
        gap:10px;
    }
    .set-footer-item{
        width: 50px;
        height: 50px;
        background-color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-md);
    }
    .carts-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        .cart{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap:40px;
            background-color: var(--color-light-grey);
            border-radius: 20px;
            justify-content: space-between;
        }
        .cart-container{
            display: flex;
            flex-direction: column;
            gap:30px;
        }
        .cart-header{
            display: flex;
            flex-direction: column;
            gap:20px;
            position: relative;
            .more{
                position: absolute;
                right: 0;
                top:0;
            }
        }
        .cart-header-item{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .cart-header-text{
            opacity: 60%;
        }
        .cart-header-title{
            font-size: var(--font-size-sm);
            font-weight: 600;
        }
        .cart-list{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .cart-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .cart-products{
            display: flex;
            flex-direction: row;
            gap:2px;
            align-items: center;
            img{
                height: 20px;
                width: 20px;
                object-fit: contain;
            }
        }
    }

    .search-input {
        width: 100%;
        padding: 22px 50px;
        border: 1px solid #1212124D;
        border-radius: var(--border-button);
        font-size: var(--font-size-xs);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg opacity='0.6'%3E%3Cpath d='M19.4485 16.7861C20.1838 17.5214 20.1838 18.7132 19.4485 19.4485C18.7132 20.1838 17.5214 20.1838 16.7861 19.4485L15.0002 17.6626C16.0396 16.9426 16.9426 16.0396 17.6626 15.0002L19.4485 16.7861Z' fill='%23121212'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75013 0C13.5827 1.61066e-07 17.5003 3.91757 17.5003 8.75013C17.5003 13.5827 13.5827 17.5003 8.75013 17.5003C3.91757 17.5003 1.61072e-07 13.5827 0 8.75013C0 3.91757 3.91757 0 8.75013 0ZM8.75013 1.41848C4.70123 1.41848 1.41848 4.70123 1.41848 8.75013C1.41848 12.799 4.70123 16.0818 8.75013 16.0818C12.799 16.0818 16.0818 12.799 16.0818 8.75013C16.0818 4.70123 12.799 1.41848 8.75013 1.41848Z' fill='%23121212'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 20px;
        outline: none;
        margin-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .tool-container{
        .sets-container{
            grid-template-columns: repeat(2, 1fr);
        }
        .tab-label{
            max-width: 13.889vw;
        }
    }
}

@media (max-width: 768px) {
    .tool-container{
        .buttonDark{
            left: 2.5%;
            top: 140px;
            max-width: 95%;
        }
        .tab-label{
            height: 50px;
            max-width: 100%;

        }
        .tab-labels{
            margin-bottom: 120px;
        }
        .sets-container{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .carts-container{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
    }
}