.footer{
    position: relative;
    height: 100%;
    width: 100%;
}

.background{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    gap:50px;
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
}

.containerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    gap:55px;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    gap:30px
}

.buttonLinks{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.buttonLink{
    background-color: var(--color-light-blue);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-sm);
}

.buttonLink:hover{
    background-color: var(--color-primary);
}

.buttonLink:hover svg path{
    fill: var(--color-white);
}

.buttonLink:hover svg .hover-path{
    fill: var(--color-primary);
}

.itemFooter{
    display: flex;
    flex-direction: column;
    gap:10px;
}



.titleFooter{
    font-size: var(--font-size-xs);
    opacity: 60%;
}

.footerNavLinksContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 62px;
    grid-row-gap: 10px;
}

.line{
    height: 1px;
    background-color: var(--color-black);
}

.documentsContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 10px;
}

.documentsContainer a{
    font-size: var(--font-size-base);
    font-weight: 600;
    line-height: 1;
}

.logoLink {
    grid-area: 1 / 3 / 3 / 4;
}

.logoLink svg{
    max-width: 210px;
}

.phone:hover{
    color: var(--color-primary);
}

.email:hover{
    color: var(--color-primary);
}

.documentsContainer a:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

@media (max-width: 768px) {
    footer{
        .footerContainer{
            gap:42px;
            padding-bottom: 30px;
        }
        .containerTitle{
            flex-direction: column-reverse;
            gap:20px;
        }
        .mainFooter{
            flex-direction: column;
            gap:42px;
        }
        .titleFooter{
            width: max-content;
        }
        .buttonLink{
            width: 47px;
            height: 47px;
        }
        .documentsContainer{
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .infoContainer{
            gap:0;
            justify-content: space-between;
        }
        .navLinksContainer{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, 1fr);
            justify-content: space-between;
            align-items: center;
            grid-row-gap: 10px;
        }
        .logoLink{
            padding-top: 32px;
            width: 100%;
        }
        .logoLink svg{
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }
}